* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
img { 
  cursor: pointer;
}

ul {
  list-style: none;
}

header {
  background: #f4f4f4;
  padding: 1rem;
  text-align: center;
}

.container {
  margin: auto;
  width: 90%;
  overflow: auto;
  padding: 3rem 2rem;
}


.win {
  color: #00CC00;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

.lose {
  color: #FF0000;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}
